body{
    background-color: rgb(225, 225, 225);
}
h1{color: gray;
}
ul {
    padding: 0;
    margin-bottom: 0;
    border: flush;
}

ul li { 
    list-style: none;
    padding: 5px;
    padding-left: 50px;
    padding-right: 10px;
}

input {
    border: none;
    width: 100%;   
}
.container{
    width: 500px;
    margin-bottom: 0;
}
